/.editorconfig
/.eslint*
/.github
/.gitignore
/assets
/build
/DEVELOPMENT.md
/docs_out
/docs/examples
/docs/stylesheets
/examples
/mkdocs*
/package-lock.json
/rollup*
/scripts
/templates
/tests
/tests_out
/tsconfig*
/venv
