
.app {
	min-height: 100dvh;
	display: grid;
	grid-template-columns: minmax(auto, 20rem) 1fr;
}

.area:not(:last-child) {
	border-right: var(--layout-border);
}

.area {
	position: relative;
	overflow: auto;
}

.menu {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.menuItems {
	display: flex;
	flex-direction: column;
	row-gap: .5rem;
}

.menu,
.view {
	width: 100%;
	position: absolute;
	padding: 1rem;
}

.source {
	display: block;
	--space-above: 3rem;
	white-space: pre-wrap;
	tab-size: 3;
	color: rgb(160, 160, 160);
}
