
:root {
	font-size: 1.25rem;
	text-wrap: balance;
	text-wrap: pretty;
}

pre {
	white-space: pre-wrap;
}

.md-grid {
	max-width: 60rem;
}

rvx-example {
	display: block;
	padding: .65rem;
	border: .1rem dashed var(--md-accent-fg-color);
}
