
.column {
	--row-gap: .7rem;

	display: flex;
	flex-direction: column;
	row-gap: var(--row-gap);
}

.column > :not(:first-child) {
	margin-top: calc(var(--space-above, var(--row-gap)) - var(--row-gap));
}
